<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Level up your life today</h1>
    <br />
    <h2>Take massive action to make impactful change</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Learn From The Best!</h3>
    <br />
    <p>Access over 20+ hours of HD quality videos taught from experienced instructors</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Surround Yourself With Your Peers</h3>
    <br />
    <p>You don't have go at it solo. Join an outstanding community dedicated to learning with you.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Life Time Access To The Materials </h3>
    <br />
    <p>A one time purchase grants you access to the materials and community for life.</p>
  </div>
</div>